@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: 0.5 s ease;
    backdrop-filter: blur(5px);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.2rem;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #000;
}

.sign-up {
    background: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.sign-up:hover {
    background: #444;
}

.swiper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: white;
    height: 100vh;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 229px;
}

.content {
    max-width: 400px;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.content p {
    margin: 10px 0;
    font-size: 1rem;
}

.content h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.swiper-slide img {
    height: 350px;
    max-width: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;
}

.one {
    background: linear-gradient(105.54deg, #F4A764 -2.93%, #FFDEC2 72.14%);
}

.two {
    background: linear-gradient(105.54deg, #ADB0B0 -2.93%, #E1E1E1 72.14%);
}

.three {
    background: linear-gradient(105.54deg, #30A357 -2.93%, #75E39A 72.14%);
}

.four {
    background: linear-gradient(105.54deg, #F24F4F -2.93%, #FFA895 72.14%);

}